<html>
	<body>
		<h1>Add Student Information</h1>
		<form action="/Student/StudentForm" method="post">
				<label for="Name">Name:</label><br>
				<input type="text" id="Name" name="name" /><br />
				<label for="Age">Age:</label><br />
				<input type="text" name="age" id="Age" /><br />
				<label fro="CGPA">CGPA:</label><br />
				<input type="text" name="cgpa" id="CGPA" /><br />
				<label for="Semester">Semester:</label><br />
				<input type="text" name="semester" id="Semester" /><br />
				<input type="submit"  value="Save Student" />
		</form>

	</body>
</html>