<h3>AComponent</h3>
<button @onclick="@Pass">Click</button>

@code {
    [Parameter]
    public EventCallback OnClickEventCallBack { get; set; }
    private void Pass()
    {
        OnClickEventCallBack.InvokeAsync();
    }
}
