

<html>
<body>
    <h1>Selected Product</h1>
    <h2>
        
        @if(!string.IsNullOrEmpty(@ViewBag.m))
            {
                <text>Items @ViewBag.m</text>
        }
            
       
        
    </h2>
    <a href="/Product/Products">Back to Products</a>
</body>
</html>
