@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    @* <vc:course-summary count=50/> *@
    @await Component.InvokeAsync("CourseSummary");
</div>
