@page "/DBC"
<h3>Parent Component</h3>
<input type="number" value="@Number" />
<button @onclick="@UpdateNumber">ClickMe</button>
<child Num="@Number"></child>
@code {
    public int Number { get; set; } = 10;
    public void UpdateNumber(){
        Number += 1;
    }
}
